<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CARE THEM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS Files -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
        <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/app.css">
        <!-- // CSS Files -->
    </head>
    <body>
        <v-app id="editor-app">
            <v-toolbar>
                <v-toolbar-title>CARE THEM</v-toolbar-title>
            </v-toolbar>
            <main>
                <v-content>
                <v-container fluid>
                    <div class="title">Main Content</div>
                </v-container>
                </v-content>
            </main>
        </v-app>
        <!-- Scripts -->
        <script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
        <script src="../static/app.js"></script>
        <!-- // Scripts -->
    </body>

</html>